.remove-top {
  >.mat-form-field-wrapper {
    >.mat-form-field-flex {
      >.mat-form-field-infix {
        border-top: none;
      }
    }
  }
}

.radio-btn {
  margin-right: 10px,
}

.btn {
  margin-top: 10px;
}

.bg-lightblue {
  background-color: #81d4fa;
  padding: 3px
}
